@font-face {
    font-family:Erda;
    src: url(Valorant.ttf.ttf);

}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url(./Fondi.png);
    background-repeat: no-repeat;
    background-size: cover;

	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
    height: 10%;
	margin: auto;
}
.cuadro{
    
    font-family: erda;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;   
    word-spacing: 10px;
    width: 150;
    padding: 15px;
    height: 80px;
    border: 1px black;
    background-color:#FF4655;
    mix-blend-mode: normal; 
    
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    font-family: erda;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}
.M
{
    width: 206px;
    height: 70px;
    left: 753px;
    top: 20 5px;
    margin: 0 auto;

    font-family: erda;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    text-align: center;

    color: #000000;

}
.contp
{
    margin-top: -10%;
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
    text-decoration: none;
 }

 .im1
 {
     
    width: 467px;
    height: 264px;

    margin-top: 70%;
    margin-left: 1%;

    border: 10px solid #93000C;
    border-radius: 50px;
    text-decoration: none;
 }
 .contp
 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0%;
    gap: 39px;
    
    position: absolute; 
    overflow-x: scroll;
    text-decoration: none;

 }
 .name 
{
    text-decoration: none;
    margin-left: 40%;
    font-family: erda;
    margin-top: 5%;
        color:#FF4655;
    }
    .name2
{
        margin-left: 30%;
        font-family: erda;
        margin-top: 5%;
        color:#FF4655;
        text-decoration: none;
    }
    .p{
        margin-top: 4%;
    }

 @media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor 
    {
		flex-direction: column;
		text-align: center;
    }


	.contp .M .im1
    {
		max-width: 100%;
	}
 }
 .contp::-webkit-scrollbar{
    display: none;
}