body{
    background-image:url(https://images7.alphacoders.com/108/1086711.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#register{
    clip-path: polygon(6% 0, 100% 0%, 95% 100%, 0% 100%);
    box-sizing: border-box;
    position: absolute;
    width: 639px;
    height: 468px;
    left: calc(50% - 639px/2 - 16.5px);
    top: calc(50% - 468px/2 + 36px);
    background: #D9D9D9;
    border: 1px solid #000000;
}

@font-face {
    font-family:Erda;
    src: url(Valorant.ttf.ttf);

}

#title{
display: flex;
justify-content: center;
font-family:Erda;
font-size: 30px;
padding: 0px;
margin-bottom: -10px;

}
#dentro{
    display: flex;
    flex-direction: column;
}
#name{
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    margin-left: 170px;
    width: 40%;
    padding: 20px;
text-align: center;
font-size: 25px;
font-family: erda;
margin-top: 30px;
box-shadow: 10px 10px 8px #888888;
}
#email{
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    margin-left: 170px;
    width: 40%;
    padding: 20px;
text-align: center;
font-size: 25px;
font-family: erda;
margin-top: 30px;
box-shadow: 10px 10px 8px #888888;

}
#password{
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    margin-left: 160px;
    width: 40%;  
    padding: 20px;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    font-family: erda;
    box-shadow: 10px 10px 8px #888888;
}
#login{
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    padding: 20px;
    margin-left: 170px;
    margin-right: 210px;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    font-family: erda;
    background: #3D5AA2;
    margin-bottom: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
    
}
#login:after {
    content: "";
    background: #000000;
    display: block;
    position: absolute;
    padding-top: 300px;
    padding-left: 200px;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
#login:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

#link{
    display:flex;
    align-content: center;
    margin-left: 140px;
    font-family: erda;
    font-size: 15px;
    font-style: italic;
    color: #3D5AA2;

}
