@font-face {
    font-family:Erda;
    src: url(Valorant.ttf.ttf);

}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    
	background: url(Fondi2.png);
    background-color: #393939;
    background-repeat: no-repeat;
    background-size: cover;


	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%; 
	margin: auto;
}
.cuadro{
    
    font-family: erda;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;   
    word-spacing: 10px;
    width: 150;
    padding: 15px;
    height: 80px;
    border: 1px black;
    background-color:#FF4655;
    mix-blend-mode: normal; 
    
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    font-family: erda;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}
.Ra
{
    width: 50%;
    height: 100%;

    border-radius: 500px;

}
.parrafo{
    z-index: 1;
    width: 60%;
    height: auto;
    padding: 2% 2%;
    font-size: 100%;
    margin-left: 20%;
    margin-top: 1%;
    line-height: 2;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FFF;
    background-color: #FF4655;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);

}
.parrafo img{
    border-radius: 5%;
    float: left;
    margin-right: 2%;
}
.M
{

    width: 206px;
    height: 70px;
    left: 753px;
    top: 20 5px;
    margin: 0 auto;
    
    font-family: erda;
    font-style: normal;
    font-weight: 400;
    font-size: 400%;
    line-height: 70px;
    text-align: center;

     color: white;
}
.boton{
    background-color: #FF4655;
    border: none;
    margin-left: 90%;
    cursor: pointer;

}
.boton:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

 @media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor 
    {
		flex-direction: column;
		text-align: center;
    }


	.contp .M .im1
    {
		max-width: 100%;
	}
    .parrafo .Ra
    {
		max-width: 100%;
	}
 }